.App {

}

.textContainer {
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid var(--grey_out);
  border-radius: 4px;
  height: var(--cardHeight);
  background-color: var(--grey);
}

.textContainer:hover {
  box-shadow: 0px 0px 4px var(--twitterBlue);
}
